#docHeader {
    margin-left: 5%;
    align-content: center;
}

#docChooseInterface {
    content: "";
    display: flex;
    clear: both;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5%;
    justify-content: flex-start;
    align-items: center;
}

#docChooseInterface button {
    height: 30px;
    padding: 5px 10px;
    margin-left: 30px;
    margin-right: 10px;
}
